<%= form_for @project do |f| %>
<% if @project.errors.any? %>
    <div id="error_explanation">
        <h2>
        <%= pluralize(@project.errors.count,"errores")%><br>
            No se puede guardar el proyecto por las siguientes razones: 
        </h2>
        <ul>
            <% @project.errors.full_messages.each do |mensaje|%>
                <li><%= mensaje %></li>
            <% end %>
        </ul>
    </div>
<% end %>


<p>
        <%= f.label :titulo %> 
        <%= f.text_field :titulo %>

    </p>
    <p>
        <%= f.label :area %> 
        <%= f.text_field :area %>

    </p>
    <p>
        <%= f.label :importe %> 
        <%= f.number_field :importe %>
    </p>
    <p>
        <%= f.label :periodo %> inicio
        <%= f.date_field :periodo %>
    </p>
    <p>
        <%= f.label :descripcion %> 
        <%= f.text_area :descripcion %>
    </p>
    <p>
        <%= f.label :ubicacion %> 
        <%= f.text_field :ubicacion %>
    </p>
    <p>
        <%= f.label :voluntarios %> 
        <%= f.number_field :voluntarios %>
    </p>
    <p>
        <%= f.label :problematica %> 
        <%= f.text_field :problematica %>
    </p>
    <p>
        <%= f.label :atiende_num_personas %> 
        <%= f.number_field :atiende_num_personas %>
    </p>
    <p>
        <%= f.submit %>
    </p>

<% end %>