<p>
    <strong>Título</strong>
    <%= @project.titulo %>
</p>

<p>
    <strong>Area</strong>
    <%= @project.area %>
</p>
    
<p>
    <strong>Importe</strong>
    <%= @project.importe %>
</p>

<p>
    <strong>Periodo</strong>
    <%= @project.periodo %>
</p>
    
<p>
    <strong>Descripción</strong>
    <%= @project.area %>
</p>

<p>
    <strong>Ubicación</strong>
    <%= @project.ubicacion %>
</p>
    
<p>
    <strong>Voluntarios</strong>
    <%= @project.voluntarios %>
</p>

<p>
    <strong>Problemática</strong>
    <%= @project.problematica %>
</p>
    
<p>
    <strong>Numero de personas que atienden </strong>
    <%= @project.atiende_num_personas %>
</p>

 <ul>
     <li>creado por:</li> 
     <li><%= link_to @project.user.nombre_de_usuario, user_path(@project.user) if @project.user%></li>
        
</ul>

<%= link_to 'Editar', edit_project_path(@project)%>
<%= link_to 'Atras', projects_path %>
