<%= form_for @user do |f| %>

<% if @user.errors.any? %>
    <div id="error_explanation">
        <h2>
        <%= pluralize(@user.errors.count,"errores")%><br>
            Debes corregir los siguientes errores para registrarte: 
        </h2>
        <ul>
            <% @user.errors.full_messages.each do |mensaje|%>
                <li><%= mensaje %></li>
            <% end %>
        </ul>
    </div>
<% end %>

    <p>
        <%= f.label :nombre %> 
        <%= f.text_field :nombre %>

    </p>
    <p>
        <%= f.label :apellido_paterno %> 
        <%= f.text_field :apellido_paterno %>
    </p>
    <p>
        <%= f.label :apellido_materno %> 
        <%= f.text_field :apellido_materno %>
    </p>
    <p>
        <%= f.label :correo %> 
        <%= f.email_field :correo %>

    </p>

    <p>
        <%= f.label :nombre_de_usuario %> 
        <%= f.text_field :nombre_de_usuario %>
    </p>
    <p>
        <%= f.label :numero_telefono %> 
        <%= f.text_field :numero_telefono %>
    </p>
    <p>
        <%= f.label :rol %> 
        <%= f.text_field :rol %>
    </p>
    <p>
        <%= f.label :password%> 
        <%= f.password_field :password %>
    </p>
    <p>
        <%= f.label :confirm_password%> 
        <%= f.password_field :password_confirmation %>
    </p>

    <p>
        <%= f.submit (@user.new_record? ? "Registrarse" :"cambiar datos") %>
    </p>

<% end %>