<h1>Preguntas</h1>

<%= link_to 'Nueva pregunta', new_pregunta_path %>

<table>
  <tr>
    <th>Pregunta</th>
    <th>Valor</th>
    <th>Area</th>
  </tr>
 
  <% @preguntas.each do |pregunta| %>
    <tr>
      <td><%= pregunta.texto_pregunta %></td>
      <td><%= pregunta.valor %></td>
      <td><%= pregunta.area %></td>
      <td><%= link_to 'Show', pregunta_path(pregunta) %></td>
      <td><%= link_to 'Edit', edit_pregunta_path(pregunta) %></td>
    </tr>
  <% end %>
</table>